

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: darkblue;
  font-size: 300%;
}

h2 {
  text-align: center-left;
  margin: 0 px;
  color: indigo;
  font-size: 180%;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  text-align: center-left;
  margin: 0 px;
  color: royalblue;
  font-size: 180%;
  font-family: "Times New Roman", Times, serif;
}

h4 {
  text-align: center-left;
  margin: 0 px;
  color: darkred;
  font-size: 180%;
  font-family: "Times New Roman", Times, serif;
}

*{margin: 0;
  margin-top: 10px;
  margin-left: 20PX;
  margin-right: 20px
  padding: 0;
  box-sizing: border-box;
  background-color: skyblue;
  margin-bottom: 20px;}


body {
  font-family: Arial, sans-serif;
  font-size: 100%;
  margin: 20px;
}


img {margin-top: 20px;
		border-radius: 5%;
	} 

footer {
  margin-top: 40px;
  font-size: 0.9em;
  text-align: center;
  color: gray;
}